{% extends 'base.html' %}
{% block navbar %}
{% include "_top_navbar.html" %}
{% endblock %}
{% block content %}
{% if messages %}

    {% for message in messages %}
    <ul class="messages">
    <li{% if message.tags %} class="messages-{{ message.tags }}"{% endif %}>{{ message }}</li>
    </ul>
    {% endfor %}

{% endif %}
<div class="col-md-6 offset-md-3">
  {% for tweet in tweets %}

{%if tweet.hasReply %}
  {%for reply in tweet.threaded_reply.all%}
  <blockquote class="twitter-tweet">
    <a href="https://twitter.com/Interior/status/{{reply.reply_id}}?ref_src=twsrc%5Etfw"></a>
  </blockquote>
  <form method="post" action="{% url 'tweets:delete_tweet' %}">
    {% csrf_token %}
    <input type="hidden" name="tweet_id" value="{{reply.reply_id}}">

    <div class="offset-md-10" style="margin-top:25px">
      <button type="submit" class="btn btn-warning" name="button">Delete</button>
    </div>

  </form>
  <hr>
  {%endfor%}

{%else%}
<blockquote class="twitter-tweet">
  <a href="https://twitter.com/Interior/status/{{tweet.tweet_id}}?ref_src=twsrc%5Etfw">{{tweet.tweet_date}}</a>
</blockquote>
{%if tweet.hasReport%}
<h2>This tweet is flagged as useless for the market you chosen</h2>
<hr>
{%else%}
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="tweet_id" value="{{tweet.tweet_id}}">
  <input type="hidden" name="screen_name" value="{{tweet.screen_name}}">



      <textarea name="tweet_text" rows="4" cols="53"></textarea>


  <div class="offset-md-8" style="margin-top:25px">
    <button class="report-tweet btn btn-primary" type="button" data-id="{% url 'tweets:report_tweet' tweet.pk %}">Report</button>
    <button type="submit" class="btn btn-success" name="button">Reply</button>
  </div>


</form>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<!-- Create book button -->

<hr>
{%endif %}
{%endif %}
{% endfor %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

{% if tweets.has_other_pages %}
<div class="col-md-3 offset-md-3">
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if tweets.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ tweets.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in tweets.paginator.page_range %}
      {% if tweets.number == i %}
        <li class="active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if tweets.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ tweets.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
  </nav>
</div>

{% endif %}


{% endblock %}
